body {
    margin: 0;
    font-family: Arial, sans-serif ;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background-color: #111827;
    color: white;
}
.logo {
    margin: 0;
    font-size: 24px;
}
.menu {
    display: flex;
    gap: 30px;
    list-style: none;
}
.menu a {
    color: white;
    text-decoration: none;
}
.nav-btn {
    background-color: #f97316;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
}
.hero {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 120px 20px;
}
.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}
.hero-btn {
    background-color: #f97316;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    border-radius: 6px;
}
.speakers {
    padding: 80px;
    text-align: center;
    background-color: #f9fafb;
}
.speakers h2 {
    font-size: 36px;
    margin-bottom: 40px;
}
.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
.speaker-card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.speaker-card img {
    width: 100%;
    max-width: 200%;
    border-radius: 10px;
}
.track {
    color: #f97316;
    font-weight: bold;
}